*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.general
{
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6
{
    margin: 0;
}
.header .container 
{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  .header 
  {
    border-bottom: 1px solid #E7E9FC;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .nav 
  {
    display: flex;
    align-items: center;
  }
  .ul-nav {
    display: flex;
    gap: 40px;
  }
.logo 
{
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-right: 76px;
    text-transform: uppercase;
    text-decoration: none;
}
.ul-address 
{
    gap: 40px;
    display: flex;
  }
.logostudio
{
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.menunav {
  font-size: 16px;
  color: #2E2F42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  display: block;
  padding: 24px 0;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menunav.link-active {
  color: #404bbf;
}

.menunav.link-active::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.menunav:hover, 
.menunav:focus {
  color: #404BBF;
}

.menunav:hover::after, 
.menunav:focus::after {
  width: 100%;
  background-color: #404bbf;
}
/* .menunav
{
    font-size: 16px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;
    display: block;
    padding: 24px 0;
    text-decoration: none;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menunav.link-active::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.link-active:hover, 
.link-active:focus
{
    color: #404BBF;
    border-radius: 2px; }*/
.address
{
    font-style: normal;
}
.addresslist:hover,
.addresslist:focus
{
    color: #404BBF;
}
.addresslist
{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.firstsection
{
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46,47,66,0.7)), url(..//images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right:auto;
    


}
.mainheading
{
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.firstsection .button 
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: calc((100% - 169px) / 2);
    margin-right: calc((100% - 169px) / 2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.firstsection .button:hover, 
.firstsection .button:focus
{
    background-color: #404BBF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .secondsection 
  {
    padding: 120px 0;
  }
  .hidden 
  {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .ul-secondsection
   {
    display: flex;
    gap: 24px;
    padding-left: 0;
  }
  .li-secondsection
   {
    width: calc((100% - 72px) / 4);
  }
  .icon-one
  {
    height: 112px;
    width: 264px;
    background-color: #F4F4FD;
    display: flex;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;


  }
.secondsection-heading
{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.secondsection-description
{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.thirdsection
{
    background-color: #F4F4FD;
    padding: 120px 0;
    text-align: center;
}
.thirdsection-list
{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.thirdsection-mainheading
{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.ul-thirdsection
 {
    display: flex;
    gap: 24px;
  }

.thirdsection-heading
{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.thirdsection-description
{
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.hp-thirdsection {
    padding: 32px 0px;
  }
.fourthsection
{
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
}
.fourthsection-mainheading
{
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    margin-bottom: 72px;
}
.ul-fourthsection 
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .li-fourthsection 
  {
    width: calc((100% - 48px) / 3);
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .li-fourthsection:hover
   {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  /* .li.fourthsection:focus
   {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                 0px 1px 6px 0px rgba(46, 47, 66, 0.08);  
  } */
  .hp-fourthsection
   {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
.fourthsection-heading
{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.fourthsection-description
{
    line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer 
{
    background-color: #2E2F42;
    padding: 100px 0;
}
.logostudio-two
{
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
}
.footer a {
    text-decoration: none;
  }
  .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
  }
.footer-description
{
    color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px
}
.socialmedia-one
{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  list-style-type: none;
}
.socialmedia-one-item
{
  width: 40px;
  height: 40px;

}
.sm-link
{
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-link:hover {
  background-color: #404bbf;
}

.sm-link:focus {
  background-color: #404bbf;
}
.socialmedia-icon
{
  fill:  #f4f4fd;

}
.parent 
{
  position: relative;
  overflow: hidden;
}

.child 
{
  top: 0;
  left: 0;
  position:absolute;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4D5AE5;
  color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    
.li-fourthsection:hover .child
{
  transform: translateY(0); 
}
/* .parent:hover .child 
{
  transform: translateY(0);
} */
.foot-container
 {
  display:flex;
  align-items: baseline;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.foot-div 
{
  margin-right: 120px;
}
.foot-icon 
{
  display: block;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
  width: 208px;
  height: 80px;
  top: 3256px;
  left: 540px;
}

.socialmedia-paragraph 
{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.socialmedia-two
 {
  display:flex;
  gap: 16px;
  list-style-type: none;
}
.socialmedia-two-item 
{
  width: 40px;
  height: 40px;
}
.sm-link-two 
{
  width: 100%;
      height: 100%;
      background-color: #4d5ae5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-link-two:hover 
{
  background-color:#31d0aa;
}
.sm-link-two:focus 
{
  background-color: #31d0aa;
}
.sub-form
{
  width: 453px;
  height: 80px;
  margin-left: 80px;
  margin-right: auto;
}
.subs-p
{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#ffffff;
}
.first-form
{
  display: flex;
  gap: 24px;
}
.first-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
}
.subs-btn
{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}
.subs-icon {
  margin-left: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
          visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);       
}
.modal {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-btn
{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-icon-one {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}
.first-modal-form
{
  margin-bottom: 8px;
}
.first-modal-label
{
  font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.second-modal-form
{
  position: relative;
}
.modal-input-one 
{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-one:focus 
{
  border-color: #4D5AE5;
}
.modal-icon-two 
{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.second-modal-form:focus-within 
{
  fill: #4D5AE5;
}
.modal-text
{
  margin-bottom: 16px;
}
.modal-textarea 
{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder 
{
  color: #8e8f99;
}
.modal-textarea:focus 
{
  border-color: #4D5AE5;
}
.modal-checkbox 
{
  margin-bottom: 24px;
}
.checkbox-label 
{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-weight: 400;
}
.checkbox-span 
{
  display:inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.checkbox-input:checked+.checkbox-label .checkbox-span 
{
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
}
.checkbox-link 
{
  color: #4d5ae5;
}
.checkbox-btn 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}